			<div class="row-fluid">
				<div class="span5">
					<h1><a href="index.html">Yufei (Andy) Chen</a></h1>
				</div>
				<nav class="span7">
					<ul class="nav pull-right">
						<li class="active"><a href="../../../../index.html">Home</a></li>
						<li><a href="../../../../doing">Doing</a></li>
						<li><a href="../../../../publication">Publication</a></li>
						<li><a class="fancybox-frame fancybox.iframe" data-rel="fancybox-iframe" href="../files/cv.pdf">Full Vita &nbsp<img src="http://www.froggybottompub.com/img/pdf_icon.png" style="width: 20px; height: 20px;"></img></a></li>
						<li><a href="http://chanyufei.com/wiki">Knowledge Base &nbsp<img src="http://www.iconattitude.com/icons/open_icon_library/apps/png/256/dokuwiki.png" style="width: 20px; height: 20px;"></img></a></li>
						<li><a href="../../../../blog">Blog</a></li>
					</ul>
				</nav>
			</div>
